<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title>Nueva tarea</ion-title>
    <ion-icon name="close" slot="end" size="larger" class="ion-padding" (click)="dismis()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-card class="ion-align-self-center" >
    <ion-item>
      <ion-textarea [(ngModel)]="itemName"  placeholder="Escriba su tarea"></ion-textarea>
   </ion-item>

   <ion-button class="ion-margin" expand="block" (click)="add()">Añadir Tarea</ion-button>

  </ion-card>
</ion-content>
